extends layout

block content
    section.section
        div.container
            div.columns.is-vcentered
                div.column.is-narrow
                    figure.image.is-128x128
                        img.is-rounded(src=artist.info.images[0].url)
                div.column
                    h1.title.is-1.has-text-light #{artist.info.name}
                        span.tag.is-info.is-medium.is-capitalized #{artist.info.type}
                    div.columns
                        div.column
                            a.button.is-success(href=artist.info.external_urls.spotify, target="_blank") 
                                span.icon
                                    i.fab.fa-spotify 
                                span Open on Spotify

    if artist.info.genres.length > 0
        section.section
            div.container
                h2.title.is-2.has-text-light Genres
                    div.tags
                        each genre in artist.info.genres
                            span.tag.is-large.is-primary.is-capitalized= genre

    section.section
        div.container
            h2.title.is-2.has-text-light Discography
            div.columns.is-multiline               
                each album in artist.discography
                    div.column.is-3                                           
                        div.card
                            a(href="/album/" + album.id)
                                div.card-image
                                    figure.image.is-square
                                        if album.images
                                            img(src=album.images[0].url, alt="Album Image")
                                        else
                                            img(src="https://dummyimage.com/640x640/000/fff.jpg&text=No+Album+Cover", alt="Album Image")
                            div.card-content
                                div.media-content
                                    h5.title.is-5= album.name
                                div.content 
                                    div.tags.are-medium 
                                        div.tag.is-info.is-capitalized
                                            span.icon
                                                i.fas.fa-compact-disc
                                            span= album.album_type
                                        div.tag.is-info
                                            span.icon
                                                i.fas.fa-globe
                                            span #{album.available_markets.length} countries
                                        div.tag.is-info
                                            span.icon
                                                i.far.fa-calendar
                                            span= new Date(album.release_date).getFullYear()
                            footer.card-footer
                                a.card-footer-item(href=album.external_urls.spotify, target="_blank") 
                                    span.icon
                                        i.fab.fa-spotify  
                                    span Open on Spotify
                                            
                                    

                              


