extends ../layout
include ../shared/translations/translationsMixins

block content
    section.section
        div.container
            div.columns.is-vcentered
                div.column.is-narrow
                    figure.image.is-128x128
                        img.is-rounded(src=album.info.images[0].url)
                div.column
                    h1.title.is-1.has-text-light #{album.info.name}
                        div.tag.is-info.is-medium.is-capitalized
                            span.icon
                                i.fas.fa-compact-disc
                            +albumTypeTranslation(album.info.album_type)
                        div.tag.is-info.is-medium
                            span.icon
                                i.far.fa-calendar
                            span= album.info.release_date
                    div.columns
                        div.column.is-narrow
                            a.button.is-success(href=album.info.external_urls.spotify, target="_blank")
                                span.icon
                                    i.fab.fa-spotify
                                span= t("common:open_on_spotify")
                        each artist in album.info.artists
                            div.column.is-narrow
                                a.button.is-info(href="/artists/" + artist.id)
                                    span.icon
                                        i.fas.fa-users
                                    span= artist.name

    section.section
        div.container
            h2.title.is-2.has-text-light.is-capitalized= t('common:track', {count: album.tracks.items.length})
            table.table.is-bordered
                thead
                    tr
                        th #
                        th= t('common:title')
                        th= t('common:duration')
                each track in album.tracks.items
                    - let trackDuration = new Date(track.duration_ms)
                    - let trackDurationMinutes = trackDuration.getUTCMinutes()
                    - let trackDurationSeconds = (trackDuration.getUTCSeconds() < 10) ? "0" + trackDuration.getUTCSeconds() : trackDuration.getUTCSeconds()
                    tr
                        th= track.track_number
                        td
                            a(href="/tracks/" + track.id)
                                span #{track.name}
                        td #{trackDurationMinutes}:#{trackDurationSeconds}

    section.section
        div.container
            h2.title.is-2.has-text-light= t('common:available_in')
            div.table-container
                table.table.is-hoverable
                    tbody
                        each market in album.info.available_markets
                            tr
                                td.list-item= t(`markets:${market}`)
