extends ../layout

block content
    section.section
        div.container
            div.columns.is-vcentered
                div.column.is-narrow
                    figure.image.is-128x128
                        img.is-rounded(src=track.album.images[0].url)
                div.column
                    h1.title.is-1.has-text-light #{track.name}
                        div.tag.is-info.is-medium.is-capitalized
                            span.icon
                                i.fas.fa-music
                            span= t('common:track')
                        div.tag.is-info.is-medium
                            span.icon
                                i.far.fa-calendar
                            span= track.album.release_date
                    div.columns
                        div.column.is-narrow
                            a.button.is-success(href=track.external_urls.spotify, target="_blank")
                                span.icon
                                    i.fab.fa-spotify
                                span= t('common:open_on_spotify')
                        div.column.is-narrow
                            a.button.is-info(href="/albums/" + track.album.id)
                                span.icon
                                    i.fas.fa-compact-disc
                                span= track.album.name
                        each artist in track.artists
                            div.column.is-narrow
                                a.button.is-info(href="/artists/" + artist.id)
                                    span.icon
                                        i.fas.fa-users
                                    span= artist.name

    section.section
        div.container
            h2.title.is-2.has-text-light Preview
            audio(controls src=track.preview_url)

    section.section
        div.container
            h2.title.is-2.has-text-light Available in
            div.table-container
                table.table.is-hoverable
                    tbody
                        each country in track.available_markets
                            tr
                                if country in countriesJSON
                                    td.list-item= countriesJSON[country]
                                else
                                    td.list-item= country
